<div class="container" id="main">

 <div ng-controller="mainController" class="tab-container">
    <md-tabs class="md-accent" md-selected="data.selectedIndex">
      <md-tab id="tab1">
        <md-tab-label class="md-subhead">Main</md-tab-label>
        <md-tab-template>
          <h5 class="md-subhead">Welcome to Git Secure</h5>
          <p class="md-body-1">
                GitSecure is a web app to help developers become aware of known vulnerabilities.  Specifically, GitSecure checks for visible API keys, insecure javascript code patterns, and known vulnerable components.  Submit your github credentials to login, and then choose which of your repositories should be GitSecured.
          </p>
        </md-tab-template>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label class="md-subhead" ng-click="populateRepos()" >Subscriptions</md-tab-label>
        <md-tab-template>
          <md-button class="md-raised md-primary" ng-show="repos" ng-click="submit(); showAlert()">Submit Repos for Analysis!</md-button>
         <ul>
           <li class="md-body-1" ng-repeat="repo in repos">
             <input type="checkbox" data-repo-id="{{ repo.id }}" data-git-url="{{ repo.git_url }}" data-url="{{repo.html_url}}" data-user-id="{{ repo.owner.id }}" data-repo-name="{{ repo.name }}"/>
             {{ repo.name }}
             <br>

           </li>
         </ul>
        </md-tab-template>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label class="md-subhead" ng-click="getResults()">Results</md-tab-label>
        <md-tab-template>
        <div layout="column" layout-margin style="padding:25px;">
          <md-progress-linear md-mode="indeterminate"></md-progress-linear>
          <md-progress-linear class="md-warn" md-mode="buffer" value="{{determinateValue}}" md-buffer-value="{{determinateValue2}}">
          </md-progress-linear>
          <md-progress-linear class="md-accent" md-mode="{{mode}}" value="{{determinateValue}}"></md-progress-linear>
        </div>
          <ul>
            <li class="md-body-1" ng-repeat="data in results">
              {{ data.repo_info.name }}
              <br>
                      <p class="md-body-1">  
                              {{  data.repo_info.parse_results }}
                      </p>
                      <p class="md-body-1"  ng-init="data.report2='More lorem ipsum'"> 
                                {{ data.repo_info.scan_results }}
                   </p>
                      <p class="md-body-1"  ng-init="data.report3='Additional lorem ipsum'"> 
                                {{ data.repo_info.retire_results }}
                   </p>

            </li>
          </ul>
        </md-tab-template>
      </md-tab>
    </md-tabs>

</div>
